h1 {
	display: inline-block;
	color: rgb(50, 50, 50);
}

footer, h1{
	padding: 0px 15px 0px 15px;
}

h1 a {
	text-decoration: none;
	color: rgb(50, 50, 50);
}

/****************
NAVIGATION
****************/

nav {
    float: right;
    display: inline-block;
    padding-top: 20px;
    padding-right: 30px;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.menu li {
	display: inline-block;
	font-size: 18px;
}

li a {
	display: block;
	text-align: center;
	width: 100px;
	padding: 10px;
	text-decoration: none;
	color: rgb(50, 50, 50);
	transition: all 800ms ease;
}

nav a:hover {
    background-color: lightgray; 
    color: black; 
}

/***************
BODY
***************/

body {
	width: 70%;
	margin: 0 auto;
	font-family: 'Muli', sans-serif;
	color: rgb(50, 50, 50);
	background: url(../../img/playstation-pattern.png);
}

main {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	background-color: white;
	min-height: 700px;
}

div.container img {
	width: 96%
	margin: 1%;
/*	padding-top: 20px;*/
}

div.container {
	padding: 5px;
	font-size: 18px;
}

.polaroid {
    position: relative;
    margin: 10px;
}

.polaroid img {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(10,10,10,0.5);
    -moz-box-shadow: 2px 2px 2px 2px rgba(10,10,10,0.5);
    box-shadow: 2px 2px 2px 2px rgba(10,10,10,0.5);
}

.polaroid p {
    position: absolute;
    text-align: center;
    top: 34%;
    width: 100%;
    height: 100%;
    font-size: 32px;
    color: rgba(255,255,255,0);
    display: block;
    transition: all 300ms ease;
}

.polaroid p:hover {
	color: rgb(255,255,255);
}



/*********************
FOOTER
*********************/

footer {
	float: right;
}

.clear {
	clear: both;
	height: 0;
}