body {
	width: 60%;
	margin: 0 auto;
	font-family: 'Muli', sans-serif;
}

article img {
	margin: 1%;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.menu li {
	display: inline-block;
}

li a {
	display: block;
	text-align: center;
	width: 100px;
	padding: 10px;
	text-decoration: none;
}

h1 {
	display: inline-block;
}