h1 {
	display: inline-block;
	color: rgb(50, 50, 50);
}

h1 a {
	text-decoration: none;
	color: rgb(50, 50, 50);
}

/****************
NAVIGATION
****************/

nav {
    float: right;
    display: inline-block;
    padding-top: 20px;
    padding-right: 30px;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.menu li {
	display: inline-block;
	font-size: 18px;
}

ul.menu li a {
	display: block;
	text-align: center;
	width: 100px;
	padding: 10px;
	text-decoration: none;
	color: rgb(50, 50, 50);
	transition: all 800ms ease;
}

nav a:hover {
    background-color: lightgray; 
    color: black; 
}


/********************
BODY
********************/
body {
	width: 70%;
	margin: 0 auto;
	font-family: 'Muli', sans-serif;
	color: rgb(50, 50, 50);
	background: url(../img/playstation-pattern.png);
}

main {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	background-color: white;
	min-height: 400px;
}

article p, footer, h1{
	padding: 0px 15px 0px 15px;
}

article {
	padding: 5px;
	font-size: 18px;
}

/*********************
LIST
*********************/

ul.contact {
	list-style-type: none;
	padding: 20px;
	margin-left: 20px;
}

ul.contact a {
	text-decoration: none;
	color: rgb(50, 50, 50);
/*	transition: all 500ms ease;*/
}

ul.contact li {
	margin-bottom: 20px;
}

/*ul.contact a:hover {
	margin-left: 5px;
}*/


/*********************
FOOTER
*********************/

footer {
	float: right;
}

.clear {
	clear: both;
	height: 0;
}

/*******************
MEDIA QUERIES
*******************/

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {
	body {
		width: 80%;
	}

	main {
		padding: 10px;
	}


}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	body {
		width: 85%;
	}
	
	ul.menu li {
		font-size: 12px;
	}

}